#libraries-fieldset-wrapper .publizon-library-field {
  margin-bottom: 5px;
}

#libraries-fieldset-wrapper .remove-btn-hide {
  display: none;
}

.publizon-library-field {
  clear: both;
  overflow: hidden;
}

.publizon-library-field > div {
  float: left;
  margin-right: 10px;
}
